<body>
<header class="header">
  <nav class="navbar">
      <div class="logo">
          <a href="index.html">
              <img src="logo.png" alt="Logo do Escritório">
          </a>
      </div>
      <ul class="nav-links">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/servico">Nossos Serviços</a></li>
          <li><a routerLink="/form">Clientes</a></li>
      </ul>
  </nav>
  <div class="hero">
      <h1>Advocacia de Excelência para<br>Seus Direitos e Necessidades</h1>
      <p>Somos um escritório comprometido em oferecer soluções legais eficazes para nossos clientes.</p>
      <a href="contato.html" class="btn-primary">Agende uma Consulta</a>
  </div>
</header>
</body>
