<section class="services">
    <div class="container">
        <h1>Nossos Serviços</h1>
        <br>
        <article>
          <h2>Direito Civil</h2>
          <p>Nossa equipe de advogados especializados em Direito Civil está pronta para ajudar em questões como contratos, responsabilidade civil, direitos do consumidor e muito mais.</p>
      </article>
      <article>
          <h2>Direito Trabalhista</h2>
          <p>Oferecemos orientação e representação em casos relacionados a relações de trabalho, demissões, acordos coletivos, entre outros assuntos trabalhistas.</p>
      </article>
      <article>
          <h2>Direito de Família</h2>
          <p>Em questões de divórcio, guarda de filhos, pensão alimentícia e adoção, nossa equipe de advogados especializados em Direito de Família está pronta para auxiliar.</p>
      </article>
        <a href="servicos.html" class="btn-secondary">Veja Nossos Serviços</a>
    </div>
</section>
